<nav class="navbar navbar-expand-md navbar-dark bg-secondary mb-4 sticky-top ">
  <a href="#" class="navbar-left">
    <img class="navbar-brand" src="/assets/images/dex.jpg">
  </a>
  <a class="navbar-brand text-white" href="#">Titan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a *ngIf="isLoggedIn"  href="#" class="btn btn-outline-light text-dark dropdown-toggle" data-toggle="dropdown" >My Tasks</a>
        <div class="dropdown-menu">
          <a href="#" routerLink="/myseo" class="dropdown-item bg-light dropdown-item">Seo</a>
          <a href="#" class="dropdown-item bg-light dropdown-item">Olm</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a *ngIf="isLoggedIn"  href="#" class="btn btn-outline-light text-dark dropdown-toggle" data-toggle="dropdown">Group Tasks</a>
        <div class="dropdown-menu">
          <a href="#" routerLink="/seogroup" class="dropdown-item bg-light">Seo</a>
          <a href="#" class="dropdown-item bg-light">Olm</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a *ngIf="isLoggedIn"  href="#" class="btn btn-outline-light text-dark dropdown-toggle" data-toggle="dropdown">Completed Tasks</a>
        <div class="dropdown-menu">
          <a href="#" routerLink="/myseohistory" class="dropdown-item bg-light">Seo</a>
          <a href="#" class="dropdown-item bg-light">Olm</a>
        </div>
      </li>
      
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a class="nav-link fa fa-sign-in text-dark btn btn-outline-light" href="#" routerLink="/login"> Login</a>
      </li>

      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link text-dark" href="#">{{loggedInUser}}</a>
      </li>

      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link fa fa-sign-out text-dark btn btn-outline-light" href="/login" (click)="onLogOutClick()"> Logout</a>
      </li>

    </ul>
    <!--
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
          <a class="nav-link" href="#" routerLink="/register">Register</a>
        </li>
        <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
          <a class="nav-link" href="#" routerLink="/login">Login</a>
        </li>
  
        <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="#">{{loggedInUser}}</a>
          </li>
  
          <li *ngIf="isLoggedIn" class="nav-item">
              <a class="nav-link" href="#" routerLink="/settings">Settings</a>
            </li>
  
        <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
          </li>
      </ul>-->
  </div>
</nav>