<ul role="navigation" class="nav nav-fill nav-pills navbar-fixed-top secondnavbar">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-secondary fa fa-sticky-note-o" (click)="openNotes()" onclick="return false;" href=""> Notes</a>   
  </li>
  <li class="nav-item">
      <a class="nav-link btn btn-outline-secondary  fa fa-history"  (click)="openTaskHistory()" onclick="return false;"  href=""> Task History</a>
  </li>
  <li class="nav-item">
      <a class="nav-link btn btn-outline-secondary  fa fa-arrows-h" (click)="openMilestone()"  onclick="return false;"   href="#"> Milestones</a>
  </li>
 <!-- <li *ngIf="history!='true'" class="nav-item">
    <a class="nav-link btn btn-outline-info acive fa fa-floppy-o" href="#"> Save</a>
</li>-->
<li *ngIf="history!='true'" class="nav-item">
  <a class="nav-link btn btn-outline-secondary  fa fa-list" (click)="completeTask()"  onclick="return false;"  href="#"> Complete Task</a>
</li>
</ul>

<!--
<ul role="navigation" class="nav nav-fill nav-pills navbar-fixed-top secondnavbar">
    <li class="nav-item">
        <button class="btn btn-outline-info acive fa fa-sticky-note-o" (click)="open()"> Notes</button>
    </li>
    <li class="nav-item">
            <button class="btn btn-outline-info acive fa fa-history" (click)="open() return false;">Task History</button>
        <a class="nav-link btn btn-outline-info acive fa fa-history" > Task History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-outline-info acive fa fa-arrows-h" href="#" (click)="open() return false;"> Milestones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-info acive fa fa-floppy-o" href="#"> Save</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-info acive fa fa-list" href="#"> Complete Task</a>
  </li>
  </ul>-->








