<ul role="navigation" class="nav nav-fill nav-pills navbar-fixed-top secondnavbar">
  <li class="nav-item">
      <a class="nav-link btn btn-outline-info acive fa fa-sticky-note-o" href="#"> Notes</a>
  </li>
  <li class="nav-item">
      <a class="nav-link btn btn-outline-info acive fa fa-history" href="#"> Task History</a>
  </li>
  <li class="nav-item">
      <a class="nav-link btn btn-outline-info acive fa fa-arrows-h" href="#"> Milestones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-info acive fa fa-floppy-o" href="#"> Save</a>
</li>
<li class="nav-item">
  <a class="nav-link btn btn-outline-info acive fa fa-list" href="#"> Complete Task</a>
</li>
</ul>