<div id="mcinfo" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h6 class="mb-0">
        <a data-toggle="collapse" data-parent="#mcinfo" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          MC Info
        </a>
      </h6>
    </div>

    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <h5 class="h6">First Name: <small class="text-dark text-capitalize"> {{mcinfo.mcFirstName}}</small></h5>        
            <h6>Phone: <small class="text-dark text-capitalize"> {{mcinfo.mcPhone}}</small></h6>         
          </div>
          <div class="col-sm-6">
            <h6>Last Name: <small class="text-dark"> {{mcinfo.mcLastName}}</small></h6>       
            <h6>Email: <small class="text-dark"> {{mcinfo.mcEmail}}</small></h6>   
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h6 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Campaign Manager Details
        </a>
      </h6>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <h5 class="h6">First Name: <small class="text-dark text-capitalize"> {{cminfo.cmFirstName}}</small></h5>        
            <h6>Phone: <small class="text-dark text-capitalize"> {{cminfo.cmPhone}}</small></h6>         
          </div>
          <div class="col-sm-6">
            <h6>Last Name: <small class="text-dark"> {{cminfo.cmLastName}}</small></h6>       
            <h6>Email: <small class="text-dark"> {{cminfo.cmEmail}}</small></h6>   
          </div>
        </div>
      </div>
    </div>
  </div>
