<app-navbarsecondary></app-navbarsecondary>


<br>
<h4>SEO Information</h4>
<hr class="bg-info active">

<app-mcinfo></app-mcinfo>

<br>
<h4>Product Details</h4>
<hr class="bg-info active">

<app-seodetails></app-seodetails>
<div class="row float-md-right">
  <div class="col float-md-right">
    <a [routerLink]="['/'+routeto]" href="#" class="btn btn-link text-info active">
      <i class="fa fa-arrow-circle-o-left"></i> {{ backto}}
    </a>    
  </div>
 <!-- <div class="col-md-6">
    <div class="btn-group pull-right">
      <a [routerLink]="['/edit-client/'+id]" class="btn btn-dark">Edit</a>
      <button class="btn btn-danger" (click)="onDeleteClick()">Delete</button>
    </div>
  </div>-->
</div>